.bg-primary {
    background: linear-gradient( 90deg, #00C1FE 19.39%, #FAFFC1 96.69%);
}

.mt-5 {
    margin-top: 10rem!important;
}

.border-start {
    border-left: 10px solid #00C1FE !important;
}

.rounded-3 {
    border-radius: 2rem!important;
    padding: 50px!important;
}

.container-fluid {
    width: 80%;
}

.btn-primary {
    color: #fff;
    background-color: #00C1FE;
    border-color: #00C1FE;
}

.border-start {
    border-left: 10px solid #00C1FE !important;
}