.body-colo {
    background: linear-gradient( 90deg, #00C1FE 19.39%, #FAFFC1 96.69%);
}

.mt-5 {
    margin-top: 10rem!important;
}

.e-c {
    border-left: 10px solid #00C1FE !important;
}

.rounded-3 {
    border-radius: 2rem!important;
    padding: 50px!important;
}

.btn-primary {
    color: #fff;
    background-color: #00C1FE;
    border-color: #00C1FE;
}

.border-start {
    border-left: 10px solid #00C1FE !important;
}

.card {
    border: none ! important;
}

.avatar {
    height: 140px;
    width: 140px;
}

.back-colo {
    background-color: #FAFFC1;
}

.cool-w {
    width: 95% ! important;
}

.divcont {
    width: 80%;
}

.navul {
    width: 80%;
}